body {
    background-color:#f8f8f8;
}

.menu a{
    color: #330000;
}

.menu {
    font-weight: bold;
    font-size: 20px;
    font-family:Georgia, serif;
    list-style-type: none;
}

.menu a:hover{
    color: yellowgreen;
}

.heading{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.shortstory{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.fullstory,.fullstoryheader{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.fullstoryheader{
    background-color:lightgrey !important;
    font-weight: 600 !important;
}

.specifications{
    color:#009;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: italic;
    list-style-type: "⊗ ";
}

input[type="text"],textarea{
    overflow:​ ​auto;
    width: 240px;
    color: darkblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

input[type="text"]{
    height: 24px;
}

input[type="text"]:focus{
    text-transform: capitalize;
}

input[name="email"]:focus{
    color:#FF66FF;
    background-color: #707070;
}

.catalog img:hover, .product img:hover{
    outline: none;
}

.catalog img, .product img{
    outline-color: violet;
    outline-style: groove;
    outline-width: 10px;
}

.product table, .content table {
    border: none;
    border-collapse: collapse;
    overflow:​ ​auto;
}

.product td, .content td {
    border: 2px solid #000;
    text-align: left;
    vertical-align: middle;
    padding: 10px;
    color:#009;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: italic;
}

.product p::first-letter {
    font-size: 30px;
    color: tomato;
}

.content td:first-child{
    height: 50px;
    text-align: center;
}

.container{
    position: relative;
    width: 700px;
    margin: 0 auto;
}

.logo{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

.header{
    height: 150px;
    background-image: url("img/Electron_ad.jpg");
}

.header li{
    display: inline-block;
    margin-top: 60px;
    margin-right: 20px;
    overflow: hidden;
}


.header > hr{
    clear: both;
}

.footer{
    height: 50px;
    background-color:steelblue;
}


.footer footer{
    text-align:right;
    margin-top: 20px;
    margin-right: 50px;
}

.product{
    position: relative;
}

.product a{
    float: left;
}

.shortstory{
    overflow: hidden;
    padding-left: 50px;    
}

.heading{
    clear: both;
}

.buy{
    overflow: hidden;
    margin-left: 100px;
    height: 50px;
    width: 100px;
}

.buy:hover{
    outline-color: violet;
    outline-style: groove;
    outline-width: 10px;
}

.buy:active{
    background-color:red;
}

.catalog div{
    display:inline-block;
    width: 300px;
    height: 200px;
    margin-right: 20px;
}

iframe{
    width: 100%;
    height: 374px;
}